<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink] = "['/pages/dashboard']">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Plano de contas</li>
    </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-black">
          <div class="card-body">
              <h5 class="card-title">Criar um plano de contas</h5>
              <p class="card-text">O plano de contas ajuda você a organizar suas contas de forma simples e rápida.</p>
              <div class="text-center">
                  <a href="#" class="btn btn-secondary btn-outlet">Criar um</a>
              </div>        
          </div>
      </div>
    </div>
  </div>
</div>