<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink] = "['/pages/dashboard']">Início</a></li>
        <li class="breadcrumb-item"><a [routerLink] = "['/pages/configuracoes']">Configurações</a></li>
        <li class="breadcrumb-item active" aria-current="page">Excluir plano de contas</li>
    </ol>
  </nav>
  <div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-sm-6 text-center">
            <div class="alert alert-danger" role="alert">
              Confirma a exclusão do plano 1?
            </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-danger">Excluir</button>
        </div>
      </div>
  
    </form>
  </div>