<nav class="navbar navbar-expand-sm navbar-dark bg-dark">    
  <button type="button" class="navbar-toggler collapsed" 
          (click)="isCollapsed = !isCollapsed" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand align-middle" [routerLink] = "['/pages/dashboard']">
    <img src="../assets/notes.png" width="42" height="42" alt="finanças">
  </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <div class="collapse navbar-collapse" [collapse]="isCollapsed">
          <ul class="nav navbar-nav">
            
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle href="javascript:void(0);" role="button" class="nav-link dropdown-toggle"> 
                Configurações <span class="caret"></span>
              </a>
                <div *dropdownMenu class="dropdown-menu">
                  <!--h6 class="dropdown-header">Dropdown header</h6 -->
                  <a class="dropdown-item" [routerLink] = "['/pages/plano-de-contas']">Plano de contas</a>
                  <a class="dropdown-item" [routerLink] = "['/pages/eventos-financeiros']">Eventos Financeiros</a>
                  <a class="dropdown-item" [routerLink] = "['/pages/tipos-pagamentos']">Tipos de pagamentos</a>
                </div>
            </li>
            
            <li class="nav-item"><a class="nav-link" href="#">Contas a pagar</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contas a receber</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Extrato</a></li>

          </ul>
        </div>

      </ul>
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Sair</button>
    </div>
  </nav>
  <router-outlet></router-outlet>

