/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.card.card-green {
    border-top: 4px solid #65AC54;
}

.card.card-red {
    border-top: 4px solid #E71A25;
}

.card.card-yellow {
    border-top: 4px solid #E2B328;
}

.card.card-black {
    border-top: 4px solid #27312C;
}