<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink] = "['/pages/dashboard']">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-yellow">
                <div class="card-body">
                    <h5 class="card-title">Próximos vencimentos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-right">
                        <a href="#" class="card-link">Adicionar despesa</a>
                        <a href="#" class="card-link">Ver todos</a>
                    </div>        
                </div>
            </div>
        </div>
                
        <div class="col-sm-4">
            <div class="card card-red">
                <div class="card-body">
                    <h5 class="card-title">Atrasados</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                            <a href="#" class="card-link">Ver todos</a>
                    </div>        
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-green">
                <div class="card-body">
                    <h5 class="card-title">Últimos pagamentos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                            <a href="#" class="card-link">Ver todos</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>