<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink] = "['/pages/dashboard']">Início</a></li>
      <li class="breadcrumb-item"><a [routerLink] = "['/pages/configuracoes']">Configurações</a></li>
      <li class="breadcrumb-item active" aria-current="page">Plano de contas</li>
  </ol>
</nav>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-4">
    <div class="card card-black">
        <div class="card-body">
            <h5 class="card-title">Criar um plano de contas</h5>
            <p class="card-text">O plano de contas ajuda você a organizar suas contas de forma simples e rápida.</p>
            <div class="text-center">
                <a [routerLink] = "['new']" class="btn btn-secondary btn-outlet">Criar um</a>
            </div>        
        </div>
    </div>
  </div>

  <div class="col-sm-4">
        <div class="card card-black">
            <div class="card-body">
                <h5 class="card-title">Plano 1</h5>
                <div class="text-center">
                    <a [routerLink] = "['10','edit']" class="btn btn-sm btn-primary btn-outlet">Editar</a>&nbsp;
                    <a [routerLink] = "['10','delete']" class="btn btn-sm btn-secondary btn-outlet">Excluir</a>
                </div>        
            </div>
        </div>
      </div>

</div>
</div>